@media screen and (min-width: 1200px){
    
.typewriter-text{
    white-space: nowrap;
    overflow: hidden;
    width: 60em;
    animation: type 4s steps(60, end); 
  }
  
  .typewriter-text:nth-child(2){
    animation: type2 2s steps(60, end);
  }
  
  /* .typewriter-text a{
    color: lime;
    text-decoration: none;
  } */
  
  span{
    animation: blink 1s infinite;
  }
  
  @keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 
  
  /* @keyframes blink{
    to{opacity: .0;}
  } */
}